.signin {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  margin-left: -15px;
  background-color: rgba(53, 53, 53, 0.7);

  .signin-panel {
    background-color: #FBFBFB;
    width: 500px;
    height: 350px;
    border: 1px solid #ABABAB;
    padding: 30px;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: -10px;
  }

  &.taller {
    .signin-panel {
      height: 410px;
    }
  }

  .form-heading {
    margin-bottom: 30px;
    font-size: 22px;
  }

  .form-control {
    margin-bottom: 16px;
    height: 48px;
  }

  a {
    cursor: pointer;
  }

  .switch-panel-btn {
    float: left;
    margin-top: 12px;
  }

  .close-panel-btn {
    float: right;
    margin-top: 12px;
  }
}
